<mat-card>
    <mat-card-title>{{name}}</mat-card-title>
    <mat-progress-bar mode="determinate" value="{{percentage}}"></mat-progress-bar>
    <mat-card-actions align="end">
        <button mat-raised-button (click)="onDirector()">Movies</button>
        <button
                mat-icon-button
                matTooltip="Remove director"
                matTooltipShowDelay="500"
                (click)="confirmRemove()"
                color="primary">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

<div *ngIf="showMovies" class="movies-wrapper">
    <app-movie
        *ngFor="let movie of movies; let i = index"
        [showBookmarkButton]="true"
        [showWatchedDirectorButton]="true"
        [showInfoButton]="true"
        [bookmarked]="movie.bookmarked"
        [id]="movie.id"
        [year]="movie.year"
        [mode]="'directorsMode'"
        (toggleFavoritesDirectors)="toggleFavoritesDirectors(movie.id, !movie.bookmarked)"
        (toggleWatchedDirectors)="toggleWatchedDirectors(movie.id, !movie.watched)"
        [watched]="movie.watched"
        [name]="movie.name">
    </app-movie>
</div>
