<mat-card>
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-content>I have watched {{percentage}}% of this director's movies.</mat-card-content>
    <mat-card-actions align="end">
        <button mat-button (click)="onDirector()">Movies</button>
    </mat-card-actions>
</mat-card>

<div *ngIf="showMovies" class="movies-wrapper">
    <app-movie
            *ngFor="let movie of movies"
            [showBookmarkButton]="true"
            [showWatchedDirectorButton]="true"
            [showInfoButton]="true"
            [name]="movie.name">
    </app-movie>
</div>
