<mat-accordion>
    <!-- Add Year -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Year
        </mat-panel-title>
        <mat-panel-description>
          Add Year
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="column">
        <mat-form-field floatLabel="auto">
            <mat-label>Year</mat-label>
            <input matInput required [(ngModel)]="year"/>
        </mat-form-field>
        <button mat-button (click)="addNewYear()">Add</button>
      </div>
    </mat-expansion-panel>
    <!-- Add Movie -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Movie
          </mat-panel-title>
          <mat-panel-description>
            Add Movie
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="column">
          <mat-form-field floatLabel="auto">
              <mat-label>Movie name</mat-label>
              <input matInput required [(ngModel)]="movieName"/>
          </mat-form-field>
          <button mat-button (click)="search()">Search</button>
        </div>
      </mat-expansion-panel>
  </mat-accordion>

<div class="column">
  <app-search-result-movie *ngFor="let movie of searchResults" 
    class="search-result-movie"
    [name]="movie['Title']"
    [year]="movie['Year']">
  </app-search-result-movie>
</div>