<div class="mat-h2">{{names[name]}}</div>
<div class="column">
    <app-movie
        *ngFor="let movie of movies"
        [name]="movie.name"
        [id]="movie.id"
        [watched]="movie.watched"
        [bookmarked]="movie.priority"
        [showInfoButton]="true"
        [showBookmarkButton]="true"
        [showEditButton]="true"
        [month]="movie.month"
        [year]="movie.year"
        [releasedYear]="movie.releasedYear"
        (toggleWatchedMovie)="toggleWatchedTheaters(movie.id, !movie.watched)"
        (toggleFavoritesMovie)="toggleFavoritesTheaters(movie.id, !movie.priority)"
        (deleteMovie)="confirmRemoveFromTheaters(movie.id)"
        (editMovie)="showEditTheatersWindow(movie.year, movie.name, movie.month, movie.id)"
        [mode]="'theatersMode'">
    </app-movie>
</div>
