<mat-card [ngClass]="{
    'best-watched': bestMovieSeen,
    'best-not-watched': !bestMovieSeen
}">
    <mat-card-title>{{name}} > {{bestPictureName}}</mat-card-title>
    <mat-progress-bar mode="determinate" value="{{percentage}}"></mat-progress-bar>
    <mat-card-actions align="end">
        <button
                mat-icon-button
                matTooltip="Remove year"
                matTooltipShowDelay="500"
                (click)="confirmRemove()"
                color="primary">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-stroked-button (click)="showMovies()">Movies</button>
    </mat-card-actions>
</mat-card>


<div *ngIf="showYearsMovies" class="movies-wrapper">
    <app-movie
        *ngFor="let movie of movies; let i = index"
        [mode]="'oscarsMode'"
        [watched]="movie.watched"
        [id]="movie.id"
        (toggleWatchedMovie)="toggleWatchedOscars(movie.id, !movie.watched)"
        (deleteMovie)="confirmRemoveFromOscars(movie.id)"
        [name]="movie.name">
    </app-movie>
</div>