<mat-toolbar color="primary" class="nav-bar">
    <div class="row">
        <button *ngIf="currentRoute !== 'Admin Page'" mat-raised-button (click)="opened = !opened" class="sidenav-button">
            <mat-icon *ngIf="!opened" color="warn">menu</mat-icon>
            <mat-icon *ngIf="opened" color="warn">menu_open</mat-icon>
        </button>
        <div class="page-title-wrapper">
            <span>Watcher > {{currentRoute}}</span>
        </div>
    </div>
    <div>
        <a class="nav-link mat-toolbar mat-primary" routerLinkActive="active-link" [routerLink]="['/directors']">Directors</a>
        <a class="nav-link mat-toolbar mat-primary" routerLinkActive="active-link" [routerLink]="['/filming']">Filming</a>
        <a class="nav-link mat-toolbar mat-primary" routerLinkActive="active-link" [routerLink]="['/oscars']">Oscars</a>
        <a class="nav-link mat-toolbar mat-primary" routerLinkActive="active-link" [routerLink]="['/theaters']">Theaters</a>
        <a class="nav-link mat-toolbar mat-primary" routerLinkActive="active-link" [routerLink]="['/admin']">Admin</a>
    </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav [(opened)]="opened" mode="side">
        <div class="column column-center-vertical add-panel-content">
            <app-add-directors *ngIf="currentRoute === 'Directors'"></app-add-directors>
            <app-add-filming *ngIf="currentRoute === 'Filming'"></app-add-filming>
            <app-add-oscars *ngIf="currentRoute === 'Oscars'"></app-add-oscars>
            <app-add-theaters *ngIf="currentRoute === 'Theaters'"></app-add-theaters>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="page-content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
