.sidenav-container {
    min-height: calc(100% - 64px);
}


.nav-link {
    padding: 0 5px;
    margin-right: 1rem;
    text-decoration: none;
}

.active-link {
    text-decoration: underline #FFFFFF;
}

.nav-link:hover {
    text-decoration: underline #FFFFFF;
}

.page-content-wrapper {
    padding: 10px;
}

.sidenav-button {
    margin-right: 10px;
}

.nav-bar {
    justify-content: space-between;
}

.add-panel-content {
    padding: 10px;
}
