<h1 mat-dialog-title>{{data["movie"]["Title"]}}</h1>
<div mat-dialog-content>
    <p><span class="mat-body-strong">Release Date:</span> {{data["movie"]["Released"]}}</p>
    <p><span class="mat-body-strong">Actors:</span> {{data["movie"]["Actors"]}}</p>
    <p><span class="mat-body-strong">Director:</span> {{data["movie"]["Director"]}}</p>
    <p><span class="mat-body-strong">Writer:</span> {{data["movie"]["Writer"]}}</p>
    <p><span class="mat-body-strong">Awards:</span> {{data["movie"]["Awards"]}}</p>
    <p><span class="mat-body-strong">Genre:</span> {{data["movie"]["Genre"]}}</p>
    <p><span class="mat-body-strong">Plot:</span> {{data["movie"]["Plot"]}}</p>
    <p><span >Rated:</span> {{data["movie"]["Rated"]}}</p>
    <p><span class="mat-body-strong">Runtime:</span> {{data["movie"]["Runtime"]}}</p>
    <p><span class="mat-body-strong">Metascore:</span> {{data["movie"]["Metascore"]}}</p>
    <p><span class="mat-body-strong">IMDB Rating:</span> {{data["movie"]["imdbRating"]}}</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Close</button>
</div>
