<mat-card [ngClass]="{
    'mat-card-filming': mode === 'filmingMode', 
    'mat-card-directors': mode === 'directorsMode', 
    'mat-card-oscars': mode === 'oscarsMode', 
    'movie-card-watched': watched
}">
    <mat-card-title>{{name}}</mat-card-title>
    <mat-card-content *ngIf="mode === 'filmingMode'">
        Director is <span class="mat-body-strong">{{directorName}}</span> and an estimated release year is <span class="mat-body-strong">{{year}}</span>.
    </mat-card-content>
    <mat-card-actions align="end">
        <!--/directors buttons-->
        <button
                *ngIf="showWatchedDirectorButton && !watched"
                mat-icon-button
                matTooltip="Add to 'Watched'"
                matTooltipShowDelay="500"
                (click)="toggleWatched()"
                color="primary">
            <mat-icon>check_circle_outline</mat-icon>
        </button>
        <button
                *ngIf="showWatchedDirectorButton && watched"
                mat-icon-button
                matTooltip="Remove from 'Watched'"
                matTooltipShowDelay="500"
                (click)="toggleWatched()"
                color="primary">
            <mat-icon>check_circle</mat-icon>
        </button>
        <button
                *ngIf="showBookmarkButton && !bookmarked && !watched"
                (click)="toggleFavorites()"
                mat-icon-button
                matTooltip="Add to watchlist"
                matTooltipShowDelay="500"
                color="warn">
            <mat-icon>favorite_border</mat-icon>
        </button>
        <button
                *ngIf="showBookmarkButton && bookmarked && !watched"
                (click)="toggleFavorites()"
                mat-icon-button
                matTooltip="Remove from watchlist"
                matTooltipShowDelay="500"
                color="warn">
            <mat-icon>favorite</mat-icon>
        </button>
        <!--/filming buttons-->
        <button
                *ngIf="showReleasedButton"
                mat-icon-button
                matTooltip="Mark as 'Released'"
                matTooltipShowDelay="500"
                (click)="cofirmMovieRelease()"
                color="primary">
            <mat-icon>check_circle</mat-icon>
        </button>
        <button
                *ngIf="showReleasedButton"
                mat-icon-button
                matTooltip="Edit release year"
                matTooltipShowDelay="500"
                (click)="showEditYearWindow()"
                color="primary">
            <mat-icon>create</mat-icon>
        </button>
        <!--/filming buttons-->
        <button
                *ngIf="showWatchedOscarsButton && !watched"
                mat-icon-button
                matTooltip="Add to 'Watched'"
                matTooltipShowDelay="500"
                (click)="toggleWatchedOscars()"
                color="primary">
            <mat-icon>check_circle_outline</mat-icon>
        </button>
        <button
                *ngIf="showWatchedOscarsButton && watched"
                mat-icon-button
                matTooltip="Remove from 'Watched'"
                matTooltipShowDelay="500"
                (click)="toggleWatchedOscars()"
                color="primary">
            <mat-icon>check_circle</mat-icon>
        </button>
        <!--General buttons-->
        <button
                *ngIf="showInfoButton"
                mat-icon-button
                matTooltip="Information"
                matTooltipShowDelay="500"
                (click)="getMovieData()"
                color="primary">
            <mat-icon>info</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
