mat-card {
    margin-bottom: 10px;
    width: 278px;
}

mat-card-title {
    line-height: initial;
}

.mat-card-filming {
    margin-right: 10px;
}

.movie-card-watched {
    border-top: 5px solid green;
}
