<mat-card [ngClass]="{
    'mat-card-filming': mode === 'filmingMode', 
    'mat-card-directors': mode === 'directorsMode', 
    'mat-card-oscars': mode === 'oscarsMode',
    'mat-card-theaters': mode === 'theatersMode',
    'movie-card-watched': watched,
    'movie-card-not-watched': !watched
}">
    <mat-card-title *ngIf="mode !== 'theatersMode'">{{name}}</mat-card-title>
    <mat-card-content *ngIf="mode === 'theatersMode'">{{name}}</mat-card-content>
    <mat-card-actions align="end">
        <!--/RIGHT WAY-->
        <!--TOGGLE WATCH-->
        <button
                *ngIf="!watched"
                mat-icon-button
                matTooltip="Add to 'Watched'"
                matTooltipShowDelay="500"
                (click)="toggleWatched()"
                color="primary">
            <mat-icon>check_circle_outline</mat-icon>
        </button>
        <button
                *ngIf="watched"
                mat-icon-button
                matTooltip="Remove from 'Watched'"
                matTooltipShowDelay="500"
                (click)="toggleWatched()"
                color="primary">
            <mat-icon>check_circle</mat-icon>
        </button>
        <!--TOGGLE FAV-->
        <button
                *ngIf="showBookmarkButton && !bookmarked && !watched"
                (click)="toggleFavorites()"
                mat-icon-button
                matTooltip="Add to watchlist"
                matTooltipShowDelay="500"
                color="warn">
            <mat-icon>favorite_border</mat-icon>
        </button>
        <button
                *ngIf="showBookmarkButton && bookmarked && !watched"
                (click)="toggleFavorites()"
                mat-icon-button
                matTooltip="Remove from watchlist"
                matTooltipShowDelay="500"
                color="warn">
            <mat-icon>favorite</mat-icon>
        </button>
        <!--DELETE-->
        <button
                mat-icon-button
                matTooltip="Remove movie"
                matTooltipShowDelay="500"
                (click)="delete()"
                color="primary">
            <mat-icon>delete</mat-icon>
        </button>
        <!--/directors buttons-->
        <button
                *ngIf="showReleasedButton"
                mat-icon-button
                matTooltip="Edit release year"
                matTooltipShowDelay="500"
                (click)="showEditYearWindow()"
                color="primary">
            <mat-icon>create</mat-icon>
        </button>
        <button
                *ngIf="showWatchedTheatersButton"
                mat-icon-button
                matTooltip="Edit information"
                matTooltipShowDelay="500"
                (click)="showEditTheatersWindow()"
                color="primary">
            <mat-icon>create</mat-icon>
        </button>
        <!--General buttons-->
        <button
                *ngIf="showInfoButton"
                mat-icon-button
                matTooltip="Information"
                matTooltipShowDelay="500"
                (click)="getMovieData()"
                color="primary">
            <mat-icon>info</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
