.mat-card-directors {
    width: 278px;
}

.mat-card-filming {
    width: 278px;
}

:host:not(:last-child) mat-card {
    margin-bottom: 10px;
}

.mat-card-filming {
    margin-right: 10px;
}

.movie-card-watched {
    border-top: 5px solid green;
}

.movie-card-not-watched {
    border-top: 5px solid transparent;
}

.mat-card-theaters {
    width: 215px;
}
